@charset "UTF-8";

@font-face {
    font-family: 'harry';
    src: url('/HARRYP__.TTF') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/fundo3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.res {  
    margin: auto;
    width: 280px;
    height: 430px;
    background-color: black;
    box-shadow: 1px 1px 5px black;
    border: 10px solid #740002b9;
    border-radius: 30px;
}

p, h2 {
    color: yellow;
    margin: 5px;
}

.tituloh1 {
    background-color: #740002b9;
    color: yellow;
    font-family: 'harry';
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.cont_drop {
    display: flex;
    justify-content: center;
    margin: 10px;
}

select {
    font-family: 'harry';
    font-size: 25px;
    background-color: #740002b9;
    width: 250px;
    height: 40px;
    box-shadow: 1px 2px 5px black;
    border-radius: 5px;
    border-style: none;
    color: yellow;
    margin-bottom: 20px;
}

.enviar{
    background-color: #740002b9;
    color: yellow;
    font-family: 'harry';
    font-size: 30px;
    width: 80px;
    height: 40px;
    box-shadow: 1px 2px 5px black;
    border-style: none;
    border-radius: 5px;
    margin-left: 10px;

}
.enviar:active {
    background-color: #310606b9;
}

img {    /* todas */
    width: 240px;
    height: 240px;
    margin-top: 10px;
}



